.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    font-size: 1.2em
  }
  
  form button {
    all: unset;
  }
  
  .menu-btn {
    padding: 10px 25px;
    border-radius: 5px;
    background-color: rgb(176, 140, 214);
    cursor: pointer;
  }
  
  .menu-btn:hover {
    background-color: rgb(149, 107, 194);
  }
  
  .menu-btn a {
    text-decoration: none;
    color:  rgb(0, 0, 0);
  }
  
  .thead-purple {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
  }